---
whiskers:
  version: "^2.5.1"
  filename: "package.xml"
---
<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<package format="1" xmlns="https://wiki.freecad.org/Package_Metadata">
  <name>Catppuccin {{flavor.name}}</name>
  <description>🖥️ Soothing pastel theme for FreeCAD</description>
  <version>2026.01.16</version>
  <date>2026-01-16</date>
  <maintainer email="releases@catppuccin.com">Catppuccin Org</maintainer>
  <license file="LICENSE">MIT</license>
  <url
    type="repository"
    branch="mocha"
  >https://github.com/catppuccin/freecad</url>
  <url
    type="readme"
  >https://github.com/scarcekoi/freecad/blob/main/README.md</url>
  <url type="website">https://catppuccin.com</url>
  <url type="bugtracker">https://github.com/catppuccin/freecad/issues</url>
  <icon>catppuccin.svg</icon>

  <content>
    <preferencepack>
      <name>Catppuccin {{flavor.name}}</name>
      <description>🖥️ Soothing pastel theme for FreeCAD</description>
      <version>2026.01.16</version>
      <tag>catppuccin</tag>
      <tag>theme</tag>
    </preferencepack>
  </content>
</package>
